<form [formGroup]="profileForm">
  <input formControlName="firstName">
  <input formControlName="lastName">
  <input [formControl]="profileForm.get(['firstName'])">
  <ng-container formGroupName="address">
    <input formControlName="street">
    <input formControlName="city">
  </ng-container>

  <div formArrayName="skills">
    <div *ngFor="let skill of skills.controls; let i=index">
      <input [formControlName]="i">
    </div>
  </div>

  <button (click)="addSkill()">Add</button>

  {{ profileForm.value | json }}
</form>
